repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ".*\\.md$"
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: mypy
        name: Static type check with mypy
        entry: uv run mypy leggen --check-untyped-defs
        files: "^leggen/.*"
        language: "system"
        types: ["python"]
        always_run: true
        pass_filenames: false
